<div class="container">
  <div class="row">
    <!-- User info -->
    <div class="col-md-3">
      <div class="profile">
        <div class="profile-pic">
          <%= cl_image_tag current_user.photo, height: 200, width: 300, crop: :fill %>
        </div>
        <div class="profile-info">
          <ul style="list-style-type: none;">
            <li>
              <%= current_user.first_name + " " + current_user.last_name %>
            </li>
            <li>
              <%= current_user.email %>
            </li>
            <li>
              <%= current_user.mobile %>
            </li>
            <li>
              <%= current_user.location %>
            </li>
            <br>
            <%= link_to 'Edit Profile', edit_profile_path, class: "btn btn-default" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

