<!-- Profile info -->
<div class="container">
  <!-- <div class="bg-grey"> -->
  <div class="info-card">
    <div class="profile">
      <div class="row">
        <div class="col-sm-3">
          <div class="profile-flex">
            <%= cl_image_tag current_user.photo, class: 'avatar-profile' %>
            <%= link_to 'Edit Profile', edit_profile_path, class: "btn btn-edit", style: "margin-top: 10px;" %>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="profile-info">
            <!-- <ul style="list-style-type: none;"> -->
            <p class="main">
              <strong><%= current_user.first_name + " " + current_user.last_name %></strong>
            </p>
            <p class="info">
              <%= current_user.email %><br><%= current_user.mobile %><br>Location: <%= current_user.location %>
            </p>
            <br>
            <!--  </ul> -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="link-card">
            <% @approved_memberships.each do |membership| %>
            <h2 class="text-center"> <%= membership.group.title %></h2>
            <div class="group-link">
              <%= link_to 'Join group', group_membership_join_path(membership.group, membership), method: :post, target:"blank", class: "btn btn-default" %>
            </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- My groups -->
<div class="container">
  <div class="row info-card">
    <div class="col-sm-12">
      <div class="content">
        <h3 class="text-center"><strong>My groups</strong></h3>
      </div>
      <div class="users-slider center-block">
        <% @admin_memberships.each do |membership| %>
          <%#= link_to group_path(membership.group) do %>
        <div class="center-block">
          <div class="user-group-image">
            <%= cl_image_tag(membership.group.photo, height: 120, width: 120, crop: :fill) %>
          </div>
          <p><%= membership.group.title %></p>
        </div>
        <% end %>
        <%# end %>
      </div>
    </div>
  </div>
</div>


