<!-- Profile info -->
<div class="container">
  <div class="wrapper-green">
    <div class="row">
      <!-- User info -->
      <div class="col-md-10 col-md-offset-2">
        <div class="profile">
          <div class="profile-pic">
            <%= cl_image_tag current_user.photo, height: 200, width: 300, crop: :fill %>
          </div>
          <div class="profile-info">
            <ul style="list-style-type: none;">
              <li>
                <%= current_user.first_name + " " + current_user.last_name %>
              </li>
              <li>
                <%= current_user.email %>
              </li>
              <li>
                Mobile nr: <%= current_user.mobile %>
              </li>
              <li>
                Location: <%= current_user.location %>
              </li>
              <br>
              <%= link_to 'Edit Profile', edit_profile_path, class: "btn btn-default" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- Users that have been accepted into your groups -->
  <div class="row">
    <div class="profile-info">
      <% if @admin %>
      <div class="container">
        <h2 class="text-center">Accepted in your groups:</h2>
        <div class="row">
          <% @pending_memberships.each do |m| %>
          <div class="col-sm-12 col-md-4">
            <div class="new-card">
              <%= image_tag('http://placehold.it/350x350') %>
              <div class="card-name"><%= m.user.first_name %></div>
              <div class="card-group">Group Name</div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
      <!--     Status of their group applications -->
      <div class="profile-status">
        <div class="container">
          <h2 class="text-center">Status group applications:</h2>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="new-card">
                <div class="card-group">Group Name</div>
                <!-- if accepted show check mark -->
                <!-- if rejected show cross -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Join links -->
      <div class="profile-links">
        <div class="container">
          <h2 class="text-center">Click this link to chat!</h2>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="new-card">
                <div class="card-group">Group Name</div>
                <%= link_to 'Click here!',"", class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

<!-- My groups -->
<!-- <h4>My Groups</h4>
<div class="container">
  <div class="row">
    <#% @usergroups.each do |group| %>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <%#= cl_image_tag(group.photo, height: 150, width: 150, crop: :fill) %>
        <div class="caption">
          <ul>
            <%#= group.title %>
          </ul>
        </div>
      </div>
    </div>
    <#% end %>
  </div>
</div> -->
<div class="container col-md-offset-2">
  <div class="row bg-grey">
    <div class="col-sm-12">
      <h3 class="text-center">My Groups</h3>
      <div class="users-slider center-block">
        <% @usergroups.each do |group| %>
          <div class="center-block">
            <div class="user-group-image">
              <%= cl_image_tag(group.photo, height: 150, width: 150, crop: :fill) %>
            </div>
            <%= group.title %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<!-- My membership requests -->

<h4 class="text-center">My Pending Requests</h4>
<div class="container">
  <div class="row">
    <% @memberships.each do |memberships| %>
    <div class="col-sm-6 col-md-4">
      <div class="users">
      <%= cl_image_tag(memberships.group.photo, height: 150, width: 150, crop: :fill) %>
        <div class="caption">
          <%= memberships.group.title %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



