
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Become a member!</h2>
    <h4>Complete the form below to register</h4>
    <br>
    </br>
    <%= @group.question %>
  </div>
</div>
<br>
</br>
<%= form_for([@group, @membership], url: group_memberships_path) do |f| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :answer %>
        <%= f.text_field :answer, placeholder:"Your response...", class: "form-control" %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
