<div class="category-header">
  <div class="img-container">
    <div class="category-image">
      <%= image_tag (@category.photo), class:"cat-img"  %>
    </div>
  </div>
  <h1><%= @category.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="groups-index">
      <% @category.groups.each do |group| %>
      <%= link_to group_path(group)  do %>
      <div class="group">
        <div class="group-pic">
          <%= cl_image_tag (group.photo), class:"group-img" %>
        </div>
        <div class="group-info">
          <h3><%= group.title %></h3>
          <p><%= group.description %></p>
          <p class="group-members">
            Looking for <%= group.capacity %> members
          </p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
