<div class="group-profile">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="profile-container">
          <div class="profile-picture ">
            <%= cl_image_tag @group.photo, height: 140, width: 140, crop: :fill %>
          </div>
          <div class="profile-description">
            <h3><%= @group.title %></h3>
            <p><%= @group.description%></p>
            <p class="info">
              Location: <%= @group.location%><br>
              Category: <%= @group.category.name %>
            </p>
            <p class="small">Created: <%= @group.created_at.strftime("%b %d, %Y") %></p>
            <%= link_to "Become a Member", "#", class:"btn btn-join", data: {toggle: "modal", target: "#myModal" } %>
            <% if @admin %>
            <%= link_to 'Delete group', users_group_path(@group), class: "btn btn-edit", method: :delete, data: { confirm: "Are you sure you want to delete this group?"} %>
            <% end %>
          </div>
        </div>
        <div class="profile-separator"></div>
      </div>
      <% if @admin %>
      <div class="col-sm-12 col-md-6 col-xs-12">
        <div class="profile-admin">
          <div class="profile-info">
            <span class="pending-group-title text-left">Pending group applications: (<%=  @pending_memberships.count %>)</span>
          </div>
          <% @pending_memberships.each do |m| %>
          <div class="new-card">
            <div class="profile-container">
              <%= image_tag (m.user.photo) %>
              <div class="new-card-info">
                <div class="profile-description">
                  <div class="info"><strong>Name</strong>: <%= m.user.first_name %></div>
                  <div class="info"><strong>Answer</strong>: <%= m.answer %></div>
                </div>
                <div class="actions">
                  <div>
                    <%= link_to 'Approve', group_membership_approve_path(@group.id, m.id), method: :post, class: "btn btn-join" %>
                  </div>
                  <div>
                    <%= link_to 'Decline', group_membership_reject_path(@group.id, m.id), method: :post, class: "btn btn-reject" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>

<!-- in-group comments -->
<div class="container">
  <div class="row">
    <div class="col-sm-6" style="margin-top: 60px">
      <p id='comment_count'>
        <%= pluralize @group.comments.size, "comment" %>
      </p>
      <div class="row">
        <div id="comments">
          <% if @group.comments.blank? %>
          <div id="no_comment">
            Be the first to leave a comment for <%= @group.title %>
          </div>
          <% else %>
          <% @group.comments.each do |comment| %>
          <%= render 'comments/show_comment', comment: comment %>
          <% if comment.user == current_user %>
          <%= link_to 'Delete comment', group_comment_path(@group, comment), class: "btn btn-edit", method: :delete, data: { confirm: "Are you sure you want to delete this comment?"} %>
          <% end %>
          <% end %>
          <% end %>

          <div id="new_comment col-sm-6">
            <%= render 'comments/form_comment' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Become a member</h4>
      </div>
      <div class="modal-body">
        <h4>Complete the form below to register</h4>
        <br>
        <%= @group.question %>
        <br>
        <br>
        <%= form_for([@group, @membership], url: group_memberships_path(group_id: @group.id)) do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.text_field :answer, placeholder:"Your response...", class: "form-control", label: false %>
            </div>
            <%= f.button "Submit", class: "btn btn-block btn-join" %>
          </div>
        </div>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- members list for admin
  <%# if @admin %>
  <div class="container">
    <div class="row">
      <ul>
        <h2>Members</h2>
        <%# @members.each do |member| %>
        <li>
          <%#= cl_image_tag member.photo, height: 200, width: 300, crop: :fill %>
          <%#= member.first_name %>
          <%#= member.last_name %>
        </li>
        <#% end %>
      </ul>
    </div>
  </div>
  <%# end %>
</div> -->
