<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(:user,  url: new_user_session_path) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, placeholder: 'Email Address', required: false, label: false, autofocus: true %>
          <%= f.input :password, placeholder: 'Password', required: false, label: false %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", class:"btn btn-block btn-login" %>
        </div>
        <% end %>
        <div class="signup-or-separator">
          <span class="h6 signup-or-separator--text">or</span>
          <br>
        </div>
        <%= link_to "Sign in with Facebook", omniauth_authorize_path("user", "facebook"), class:"btn btn-block btn-fb" %>
        <div class="modal-footer">
          <div class="signupp">
            <p>Don't have an account?</p>
          </div>
          <div>
          <a class="btn-log">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%#= render "devise/shared/links" %>
