<br>
<%= link_to "Log In", new_user_session_path %>
<%= link_to "My profile", profile_path %>

<% if user_signed_in? %>

  <p> Welcome <%= current_user.first_name %> </p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <br>
  <%= link_to "Create Group", new_users_group_path %>
  <br>
  <%= link_to "View Categories", categories_path %>
<% end %>

